# Configurações do Banco de Dados PostgreSQL Local
DATABASE_URL="postgresql://usuario:senha@localhost:5432/raizes_db?schema=public"

# Configurações de Autenticação (JWT)
JWT_SECRET="chave_secreta_super_segura_para_desenvolvimento"
JWT_EXPIRES_IN="1d"

# Porta do Servidor
PORT=3000